<a href="https://colab.research.google.com/github/Nukaraju2003/K-Nearest-Neighbors-KNN-Soilsdata-in-Python/blob/main/K_Nearest_Neighbors(KNN)Soilsdata_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Implementation of KNN Algorithm in Python 
## Importing the modules

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.datasets import make_blobs
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
from sklearn.metrics import f1_score

## Creating Dataset

In [ ]:
dataset = pd.read_csv('/content/Geopolymer soils dataa.csv')
dataset = dataset.astype({'28 day UCS (Mpa)': int})  # comment if need continuous values
print(len(dataset))
print(dataset.head(20))

276
       LL     PI  %S  %FA     M   A/B  Na/Al  Si/Al  28 day UCS (Mpa)
0   116.0  88.46  20    0   4.0  0.45   0.39   1.49                 0
1   116.0  88.46  16    0   4.0  0.45   0.39   1.49                 0
2   116.0  88.46  12    0   4.0  0.45   0.39   1.49                 0
3   116.0  88.46   8    0   4.0  0.45   0.39   1.49                 0
4   116.0  88.46   4    0   4.0  0.45   0.39   1.49                 0
5   116.0  88.46  20    0   8.0  0.45   0.69   1.49                 0
6   116.0  88.46  16    0   8.0  0.45   0.69   1.49                 0
7   116.0  88.46  12    0   8.0  0.45   0.69   1.49                 0
8   116.0  88.46   8    0   8.0  0.45   0.69   1.49                 0
9   116.0  88.46   4    0   8.0  0.45   0.69   1.49                 0
10  116.0  88.46  20    0  12.0  0.45   0.93   1.49                 1
11  116.0  88.46  16    0  12.0  0.45   0.93   1.49                 1
12  116.0  88.46  12    0  12.0  0.45   0.93   1.49                 0
13  116.0  88.46   8    0  12.0  0.45   0.93   1.49                 0
14  116.0  88.46   4    0  12.0  0.45   0.93   1.49                 0
15  116.0  88.46  20    0  12.0  0.65   1.34   1.49                 3
16  116.0  88.46  16    0  12.0  0.65   1.34   1.49                 2
17  116.0  88.46  12    0  12.0  0.65   1.34   1.49                 1
18  116.0  88.46   8    0  12.0  0.65   1.34   1.49                 0
19  116.0  88.46   4    0  12.0  0.65   1.34   1.49                 0

In [ ]:
from sklearn_pandas import DataFrameMapper
mapper = DataFrameMapper([(dataset.columns, StandardScaler())])
scaled_features = mapper.fit_transform(dataset.copy(), 4)
scaled_features_df = pd.DataFrame(scaled_features, index=dataset.index, columns=dataset.columns)

In [ ]:
scaled_features_df

,LL,PI,%S,%FA,M,A/B,Na/Al,Si/Al,28 day UCS (Mpa)
0,1.594337,1.590579,0.303031,-0.445282,-3.066279,-1.160072,-1.748372,-0.580658,-0.850818
1,1.594337,1.590579,-0.006734,-0.445282,-3.066279,-1.160072,-1.748372,-0.580658,-0.850818
2,1.594337,1.590579,-0.316499,-0.445282,-3.066279,-1.160072,-1.748372,-0.580658,-0.850818
3,1.594337,1.590579,-0.626264,-0.445282,-3.066279,-1.160072,-1.748372,-0.580658,-0.850818
4,1.594337,1.590579,-0.936029,-0.445282,-3.066279,-1.160072,-1.748372,-0.580658,-0.850818
...,...,...,...,...,...,...,...,...,...
271,-0.826370,-0.824030,0.303031,-0.445282,0.783007,0.225988,0.798724,-0.373907,1.193881
272,-0.826370,-0.824030,0.303031,-0.445282,0.783007,0.225988,0.798724,-0.255764,1.193881
273,-0.826370,-0.824030,0.303031,-0.445282,0.783007,0.225988,0.798724,-0.137620,1.193881
274,-0.826370,-0.824030,0.303031,-0.445282,0.783007,0.225988,0.798724,-0.049012,1.351165
275,-0.826370,-0.824030,0.303031,-0.445282,0.783007,0.225988,0.798724,0.305418,1.351165

## Splitting Data into Training and Testing Datasets

In [ ]:
X = dataset.iloc[:,0:9]
Y = dataset.iloc[:,8]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 0,test_size=0.2)

In [ ]:
n_neighbors = 5
knn = KNeighborsClassifier(n_neighbors=n_neighbors, p=2, metric ='euclidean')
knn.fit(X_train, Y_train)
# Predict on dataset which model has not seen before
pred_X = knn.predict(X_test)
print(f'Accuracy with k={n_neighbors}', accuracy_score(Y_test, pred_X)*100)

Accuracy with k=5 62.5

In [ ]:
print('prediction, actual')
list(zip(pred_X, Y_test))

prediction, actual

[(11, 10),
 (3, 3),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (9, 9),
 (4, 3),
 (0, 0),
 (22, 18),
 (0, 2),
 (11, 10),
 (1, 1),
 (0, 0),
 (10, 10),
 (13, 13),
 (0, 0),
 (7, 6),
 (4, 4),
 (8, 10),
 (9, 8),
 (0, 0),
 (12, 10),
 (0, 2),
 (0, 1),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (14, 13),
 (14, 14),
 (5, 4),
 (0, 0),
 (0, 0),
 (6, 8),
 (22, 24),
 (14, 14),
 (0, 1),
 (0, 0),
 (0, 0),
 (9, 7),
 (22, 22),
 (13, 12),
 (6, 6),
 (0, 1),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 1),
 (0, 0),
 (7, 6)]